header {
    background-color: darkgray;
    color: white;
    text-align: center;
    padding: 10px;
}


.search-col {
    background-color: lightgray;
    padding-left: 30px;
    min-height: 600px;
}



.prev-search {
    background-color: white;
    padding: 10px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}

.main-column {
    margin: 10px;
}

.forecast-box{
    background-color: blue;
    color: white;
    margin: 8px;
    padding-top: 5px;
}

.hide {
    display: none;
}

#search-bar {
    margin-bottom: 10px;
}