header {
    background-color: darkgray;
    color: white;
    text-align: center;
    padding: 10px;
}

ul {
    list-style-type: none;
}

.search-col {
    background-color: lightgray;
    padding-left: 30px;
    min-height: 600px;
}



.prev-search {
    text-align: left;
    background-color: white;
    padding: 10px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -40px;
    width: 100%;
}

.main-column {
    margin: 10px;
}

.forecast-box{
    background-color: blue;
    color: white;
    margin: 8px;
    padding-top: 5px;
}

.hide {
    display: none;
}

#search-bar {
    margin-bottom: 10px;
}

#weather-box {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}